body{
    text-align: center;
}

.header {
  padding: 10px;
  text-align: center;
  right: 0px;
  left: 0px;
}

.top_right_link_div{
    background-color: lightgray;
    overflow: hidden;
    width: 100%;
}

.top_right_link_div a{
    float: right;
    padding: 10px 10px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.top_right_link_div a:hover{
    background-color:white;
}

.center{
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

.bttn{
    background-color: lightgray;
    border: black;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    padding: 20px;
    font-family: sans-serif;
    font-style: normal;
    cursor: pointer;
}

.tab{
    margin: 0 auto;
}